@import url("./fonts.css");
body {
  background-image: url("../images/mountain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inter", "sans-serif";
}

h1 {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}
h2 {
  color: white;
  font-size: 90px;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
